In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv(r'./data/naukri_com-job_sample.csv')
df.head()

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4

In [4]:
# list all columns
df.columns

Index(['company', 'education', 'experience', 'industry', 'jobdescription',
       'jobid', 'joblocation_address', 'jobtitle', 'numberofpositions',
       'payrate', 'postdate', 'site_name', 'skills', 'uniq_id'],
      dtype='object')

In [5]:
# how many rows and columns
df.shape

(22000, 14)

In [6]:
# check missing values
df.isnull().sum()

company                    4
education               1996
experience                 4
industry                   5
jobdescription             4
jobid                      0
joblocation_address      501
jobtitle                   0
numberofpositions      17536
payrate                   97
postdate                  23
site_name              18013
skills                   528
uniq_id                    0
dtype: int64

In [9]:
# count how many percentage are missing values for each columns
count_missing = df.isnull().sum()
percent_missing = cnt_missing = (count_missing / len(df)) * 100
percent_missing

company                 0.018182
education               9.072727
experience              0.018182
industry                0.022727
jobdescription          0.018182
jobid                   0.000000
joblocation_address     2.277273
jobtitle                0.000000
numberofpositions      79.709091
payrate                 0.440909
postdate                0.104545
site_name              81.877273
skills                  2.400000
uniq_id                 0.000000
dtype: float64

In [10]:
missing_val_df = pd.DataFrame({'count_missing':count_missing, 'percent_missing':percent_missing})
missing_val_df

                     count_missing  percent_missing
company                          4         0.018182
education                     1996         9.072727
experience                       4         0.018182
industry                         5         0.022727
jobdescription                   4         0.018182
jobid                            0         0.000000
joblocation_address            501         2.277273
jobtitle                         0         0.000000
numberofpositions            17536        79.709091
payrate                         97         0.440909
postdate                        23         0.104545
site_name                    18013        81.877273
skills                         528         2.400000
uniq_id                          0         0.000000

In [11]:
# Highlight higher percentage and missing count
missing_val_df.style.background_gradient()

### list unique and total number of unique values from each of the column

In [12]:
#  list all the columns
df.columns

Index(['company', 'education', 'experience', 'industry', 'jobdescription',
       'jobid', 'joblocation_address', 'jobtitle', 'numberofpositions',
       'payrate', 'postdate', 'site_name', 'skills', 'uniq_id'],
      dtype='object')

In [18]:
# make list of all the unique counts and values from each of the column one by one
# Method 1
unique_df = [ [col, df[col].nunique(), df[col].unique()] for col in df.columns]

# Method 2  
# unique_df = []
#for col in df.columns:
#    unique.append([col ,df[col].nunique(),df[col].unique()])
    
unique

[['company',
  8469,
  array(['MM Media Pvt Ltd', 'find live infotech',
         'Softtech Career Infosystem Pvt. Ltd', ...,
         'TeamLease Services Limited hiring for BPA Solution Architect',
         'Austere Technology Solutions', 'Musk - Startup'], dtype=object)],
 ['education',
  2355,
  array(['UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate - Any Specialization, Post Graduation Not Required',
         'UG: B.Tech/B.E. - Any Specialization PG:MBA/PGDM - Any Specialization',
         'UG: Any Graduate - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required',
         ..., 'PG:MS/M.Sc(Science) - Any Specialization, Statistics',
         'UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization, MS/M.Sc(Science) - Any Specialization Doctorate:Doctorate Not Required',
         'UG: B.Tech/B.E. - Computers PG:MS/M.Sc(Science) - Computers Doctorate:Doctorate Not Required'],
        dtype=object)],
 ['experience',
  147,
  array(['0 - 1 yrs', '0 - 0 yrs', '4 - 8 yrs', '11 - 15 yrs', '6 - 8 yrs',
         '2 - 5 yrs', '1 - 3 yrs', '2 - 7 yrs', '1 - 5 yrs', '2 - 4 yrs',
         '3 - 8 yrs', '5 - 7 yrs', '1 - 2 yrs', '5 - 10 yrs', '6 - 10 yrs',
         '10 - 12 yrs', '4 - 6 yrs', '1 - 6 yrs', '3 - 6 yrs', '3 - 7 yrs',
         '4 - 9 yrs', '3 - 5 yrs', '0 - 5 yrs', '5 - 8 yrs', '9 - 12 yrs',
         '7 - 12 yrs', '10 - 15 yrs', '4 - 7 yrs', '8 - 12 yrs',
         '10 - 16 yrs', '5 - 9 yrs', '0 - 4 yrs', '10 - 20 yrs',
         '10 - 18 yrs', '0 - 2 yrs', '7 - 10 yrs', '6 - 11 yrs',
         '2 - 3 yrs', '1 - 4 yrs', '7 - 9 yrs', '8 - 13 yrs', '2 - 6 yrs',
         '8 - 10 yrs', '0 - 3 yrs', '6 - 9 yrs', '15 - 20 yrs',
         '12 - 16 yrs', '1 - 1 yrs', '3 - 4 yrs', '17 - 20 yrs',
         '10 - 17 yrs', '9 - 14 yrs', '13 - 15 yrs', '17 - 23 yrs',
         '15 - 25 yrs', '14 - 22 yrs', '4 - 5 yrs', '7 - 11 yrs',
         '16 - 24 yrs', '14 - 18 yrs', '12 - 15 yrs', '7 - 8 yrs',
         '5 - 6 yrs', '12 - 19 yrs', '20 - 25 yrs', '10 - 13 yrs',
         '12 - 18 yrs', '6 - 7 yrs', '10 - 14 yrs', '12 - 20 yrs',
         'Not Mentioned', '11 - 16 yrs', '15 - 17 yrs', '20 - 30 yrs',
         '15 - 21 yrs', '8 - 11 yrs', '8 - 9 yrs', '9 - 13 yrs',
         '15 - 22 yrs', '14 - 19 yrs', '13 - 19 yrs', '15 - 16 yrs',
         '14 - 20 yrs', '11 - 12 yrs', '1 - 8 yrs', '9 - 11 yrs',
         '15 - 18 yrs', '4 - 10 yrs', '10 - 11 yrs', '12 - 22 yrs',
         '7 - 16 yrs', '16 - 18 yrs', '13 - 17 yrs', '13 - 20 yrs',
         '5 - 5 yrs', '1 - 10 yrs', '12 - 14 yrs', '5 - 15 yrs',
         '11 - 17 yrs', nan, '16 - 20 yrs', '13 - 23 yrs', '3 - 3 yrs',
         '18 - 20 yrs', '23 - 30 yrs', '14 - 24 yrs', '18 - 28 yrs',
         '11 - 21 yrs', '15 - 19 yrs', '18 - 22 yrs', '6 - 12 yrs',
         '14 - 17 yrs', '12 - 17 yrs', '13 - 18 yrs', '25 - 30 yrs',
         '11 - 14 yrs', '2 - 8 yrs', '2 - 10 yrs', '4 - 11 yrs',
         '11 - 13 yrs', '14 - 16 yrs', '2 - 2 yrs', '10 - 19 yrs',
         '14 - 15 yrs', '2 - 9 yrs', '13 - 16 yrs', '7 - 7 yrs',
         '9 - 10 yrs', '11 - 20 yrs', '12 - 13 yrs', '15 - 24 yrs',
         '3 - -1 yrs', '10 - 10 yrs', '26 - 30 yrs', '7 - 14 yrs',
         '11 - 19 yrs', '16 - 25 yrs', '11 - 18 yrs', '18 - 25 yrs',
         '17 - 25 yrs', '18 - 21 yrs', '18 - 23 yrs', '20 - 24 yrs',
         '20 - 23 yrs', '3 - 10 yrs', '17 - 27 yrs', '16 - 26 yrs',
         '13 - 22 yrs'], dtype=object)],
 ['industry',
  63,
  array(['Media / Entertainment / Internet',
         'Advertising / PR / MR / Event Management',
         'IT-Software / Software Services',
         'Banking / Financial Services / Broking',
         'Aviation / Aerospace Firms',
         'Industrial Products / Heavy Machinery', 'FMCG / Foods / Beverage',
         'Recruitment / Staffing', 'Internet / Ecommerce',
         'Travel / Hotels / Restaurants / Airlines / Railways',
         'BPO / Call Centre / ITES', 'Pharma / Biotech / Clinical Research',
         'Real Estate / Property', 'Insurance', 'Facility Management',
         'Publishing', 'Education / Teaching / Training',
         'Retail / Wholesale',
         'Automobile / Auto Anciliary / Auto Components',
         'Chemicals / PetroChemical / Plastic / Rubber',
         'Government / Defence', 'Accounting / Finance',
         'Textiles / Garments / Accessories',
         'Semiconductors / Electronics', 'Telecom/ISP',
         'Medical / Healthcare / Hospitals', 'Legal',
         'Courier / Transportation / Freight / Warehousing',
         'NGO / Social Services / Regulators / Industry Associations',
         'Other', 'Architecture / Interior Design',
         'KPO / Research / Analytics',
         'Construction / Engineering / Cement / Metals',
         'Office Equipment / Automation',
         'Consumer Electronics / Appliances / Durables', 'Iron and Steel',
         'Strategy / Management Consulting Firms',
         'Oil and Gas / Energy / Power / Infrastructure',
         'IT-Hardware & Networking', 'Wellness / Fitness / Sports / Beauty',
         'Agriculture / Dairy', 'Electricals / Switchgears',
         'Security / Law Enforcement', 'Gems / Jewellery',
         'Ceramics / Sanitary ware', 'Fresher / Trainee / Entry Level',
         'Food Processing', 'Printing / Packaging', 'Brewery / Distillery',
         'Telecom/ISP /', 'Export / Import',
         'Heat Ventilation / Air Conditioning',
         'Wellness / Fitness / Sports',
         'Water Treatment / Waste Management', nan, 'Shipping / Marine',
         'Glass / Glassware', 'Animation / Gaming',
         'Fertilizers / Pesticides', 'Pulp and Paper', 'Tyres', 'Leather',
         'Broadcasting', 'Medical Devices / Equipments'], dtype=object)],
 ['jobdescription',
  21063,
  array(['Job Description \xa0 Send me Jobs like this Qualifications: - == > 10th To Graduation & Any Skill: - == > Basic Computer Knowledge Job Requirement : - == > System or Laptop Type of job: - == > Full Time or Part time Languages : - == > Tamil & English. Experience : - == > Freshers & Experience payment details: - 1 form per day 5/- 10 form per day 50/- 100 form per day 500/- monthly you can earn 15000/- per month Selection Process: - == > Easy Selection Process,So What Are You Waiting For? Apply Now & Grab Best Opportunity To Make Your Carrier & To Improve Your Earing Skills. More detail contact Mr Hari 8678902528 9003010282 Salary:INR 1,50,000 - 2,25,000 P.A Industry: Media / Entertainment / Internet Functional Area: ITES , BPO , KPO , LPO , Customer Service , Operations Role Category:Other Role:Fresher Keyskills English Typing Part Time Data Entry Selection Process Desired Candidate Profile Education- UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate - Any Specialization, Post Graduation Not Required Please refer to the Job description above Company Profile: MM Media Pvt Ltd Mass Media International Find Live Info Pvt Ltd DATA SERVICES is established in the year 2012 with a vision of transforming an ordinary to extra ordinary thing. Find live info is one of our main project, it is a developing search engine site based at Chennai, India. With years of experience, we have crafted massive data collection job opportunities for public. FIND LIVE INFO a blend of experience, imagination, strategy and action to create digital experience that excite, challenge, inspire and engage users. FIND LIVE INFO provides other business opportunities which will be handled by experts of various fields. We have interesting combination of young and experienced Specialists Under the guidance of our Top Management we bloom towards success More detail contect 8678902528 Download PPT Photo 1 \xa0 View Contact Details',
         'Job Description \xa0 Send me Jobs like this Qualifications: - == > 10th To Graduation & Any Skill: - == > Basic Computer Knowledge Job Requirement : - == > System or Laptop Type of job: - == > Full Time or Part time Languages : - == > Tamil & English. Experience : - == > Freshers & Experience payment details: - 1 form per day 5/- 10 form per day 50/- 100 form per day 500/- monthly you can earn 15000/- per month Selection Process: - == > Easy Selection Process,So What Are You Waiting For? Apply Now & Grab Best Opportunity To Make Your Carrier & To Improve Your Earing Skills. Chennai Peoples Only Contact Deepika Team Leader 9087728815 / 9087726713 Salary:INR 1,50,000 - 2,50,000 P.A. 20000 Industry: Advertising / PR / MR / Event Management Functional Area: Marketing , Advertising , MR , PR , Media Planning Role Category:Online/Digital Marketing Role:Search Engine Marketing/SEM Specialist Keyskills Data Entry data processing Desired Candidate Profile Education- UG: B.Tech/B.E. - Any Specialization PG:MBA/PGDM - Any Specialization Please refer to the Job description above Company Profile: find live infotech Find Live Infotech is one of our main projects, it is a developing search engine site based at chennai , India. With years of experience , we have crafted massive data collection job oppurtunties for public. Find live infotech provides other business opportunities which will be handled by experts of various fields Download PPT Photo 1 \xa0 View Contact Details',
         'Job Description \xa0 Send me Jobs like this - as a developer in providing application design guidance and consultation, utilizing a thorough understanding of applicable technology, tools and existing designs. - Analyzes highly complex business requirements, designs and writes technical specifications to design or redesign complex computer platforms and applications. - Provides coding direction to less experienced staff or develops highly complex original code. - Acts as an expert technical resource for modeling, simulation and analysis efforts. - Verifies program logic by overseeing the preparation of test data, testing and debugging of programs. - Oversees overall systems testing and the migration of platforms and applications to production. - Develops new documentation, departmental technical procedures and user guides. - Leads projects, allocates and manages resources and manages the work of less experienced staff. - Assures quality, security and compliance requirements are met for supported area and oversees creation of or updates to and testing of the business continuation plan.: 7+ years application development and implementation experience. Additional Job Details: - Looking for PL/SQL developer, who has experience loading data using SQL loader. Salary: Not Disclosed by Recruiter Industry: IT-Software / Software Services Functional Area: IT Software - Application Programming , Maintenance Role Category:Programming & Design Role:Software Developer Keyskills SQL Loader PL SQL Development PLSQL Procedures Application Design Test Data Application Development Desired Candidate Profile \xa0 Education- UG: Any Graduate - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required Company Profile: Softtech Career Infosystem Pvt. Ltd Leading client of Softtech Career Infosystem Pvt. Ltd Download PPT Photo 1 \xa0 View Contact Details',
         ...,
         'Job Description \xa0 Send me Jobs like this Work with tech lead to architect and develop a full stack of functionalities, from scratch Design and own product components, from initial technology to scale Write high performing code that deploys to production multiple times a day Make key architectural decisions as well as solve scaling challenges Collaborate with the team and communicate effectively, to solve problems and build, extend, optimize and refactor the back-end architecture Salary: Not Disclosed by Recruiter Industry: Internet / Ecommerce Functional Area: IT Software - Application Programming , Maintenance Role Category:Programming & Design Role:Software Developer Keyskills Design Solutions Python Java Javascript HTML CSS Node.js PostgreSQL jQuery EC2 DynamoDB RDS SNS SQS S3 EMR Desired Candidate Profile Strong understanding and experience in any one of core back-end programming language (Java, C++, Python etc.) Strong understanding of Object-Oriented Programming. Strong understanding of algorithms and data structures. Understanding and experience of working with mid to large scale SQL database systems (MySQL, PostgreSQL, Microsoft-SQL etc). User authentication and authorization between multiple systems, servers, and environments. Familiarity with framework tools: spring, REST services. Knowledge in HTML, CSS, JavaScript, jQuery. Understanding of Node.js and web frameworks for Node.js (expressjs etc.) Understanding of code versioning tools, such as Git. Comfortable working within non-GUI linux shell environments. Familiarity with AWS products - EC2, DynamoDB, RDS, SNS, SQS, S3, EMR etc. The right candidate loves programming, ships code to production quickly and is passionate about building products for web & mobile.Skills: Python, Java, Javascript, HTML, CSS, Node.js, PostgreSQL, AWS/EC2/ELB/S3/DynamoDB Education- UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required Company Profile: Musk - Startup Musk is an invoice discounting platform that partners with medium and large corporates to finance their SME vendors against approved invoices. The platform manages entire life cycle of loan- from sourcing to servicing. Data-driven intelligent on-boarding, diligence, and process automation renders invoice discounting programs scalable and safe for lending partners. Download PPT Photo 1 \xa0 View Contact Details',
         'Job Description \xa0 Send me Jobs like this We are looking for a Senior UI Developers and Technical leads for a leading IT MNC at Delhi/NCR. Role : Senior Developer / Technical Lead / Manager Location: Delhi/ NCR SKILL REQUIREMENTS : - Expertise in HTML5 / CSS, JQuery, Javascript. - Hands on experience in Object Oriented Java script, AngularJS, BackboneJS. - The candidate should be willing to work as an individual contributor. - The candidate will be mainly involved in Design and development of Web/UI content. He should be dynamic and flexible. - Exposure in basic UI tools like HTML/CSS is must. Salary: Not Disclosed by Recruiter Industry: IT-Software / Software Services Functional Area: IT Software - Application Programming , Maintenance Role Category:Programming & Design Role:Team Lead/Technical Lead Keyskills Javascript HTML CSS UI Development JQuery Java Web Technologies Web UI Design Development Desired Candidate Profile EXPERIENCE : 7-13 yrsEducation : Btech / MCA / ME Education- UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization Doctorate:Doctorate Not Required Company Profile: Confidential Leading client Download PPT Photo 1 \xa0 View Contact Details',
         'Job Description \xa0 Send me Jobs like this Job description : Experience of 5-10 years with most of this experience in Wireless (LTE/3G/2G) RF firmware development and will be an individual contributor. He/She should have the ability to Develop, enhance, troubleshoot of RF control firmware Participate in Baseband-RFIC interface bring-up of radio boards Develop manufacturing test firmware for RF boards Creation/customization of calibration and verification routines. Work closely with LTE baseband and RF hardware teams for RF firmware integration and testing Coach and mentor team mates and groom them to reach their goals. Support pre and post sales activities. Specific Knowledge/Skills Strong experience in development, customization of RF driver firmware Strong understanding of integrated RFIC based RF hardware Strong experience with developing and optimizing RF calibration and verification routines Proficient in C. Experience with configuration management and bug tracking systems Excellent communication skills Experience working both independently and in a team-oriented, collaborative environment is essential. Salary:INR 12,00,000 - 22,00,000 P.A Industry: IT-Software / Software Services Functional Area: IT Software - System Programming Role Category:Programming & Design Role:Software Developer Keyskills 2G 3G LTE C Optimization RF Post Sales Communication Skills Bug Tracking Firmware Development Desired Candidate Profile Please refer to the Job description above Education- UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization Company Profile: Cambio Consulting India Pvt Ltd Product MNC Download PPT Photo 1 \xa0 View Contact Details'],
        dtype=object)],
 ['jobid',
  21910,
  array([210516002263, 210516002391, 101016900534, ..., 251116900644,
         231116901329, 251116003840], dtype=int64)],
 ['joblocation_address',
  2329,
  array(['Chennai', 'Bengaluru',
         'Mumbai, Bengaluru, Kolkata, Chennai, Coimbatore, Tamilnadu', ...,
         'Mumbai, Bengaluru, Hyderabad, Kolkata',
         'Mumbai, Chennai, Delhi, Bengaluru, Hyderabad, Pune',
         'Bengaluru, Malaysia'], dtype=object)],
 ['jobtitle',
  17564,
  array(['Walkin Data Entry Operator (night Shift)',
         'Work Based Onhome Based Part Time.', 'Pl/sql Developer - SQL',
         ..., 'Full Stack Development Engineer',
         'Sr UI Developer/ Technical Lead - Html/ CSS/ Javascript/ Angularjs',
         'RF Firmware Engineers'], dtype=object)],
 ['numberofpositions',
  84,
  array([     nan, 6.00e+01, 4.00e+00, 2.00e+00, 2.00e+01, 3.00e+00,
         1.00e+00, 7.00e+02, 8.00e+00, 5.00e+00, 7.00e+00, 2.50e+01,
         1.00e+01, 6.50e+02, 1.50e+01, 5.00e+01, 3.00e+01, 6.00e+00,
         4.50e+01, 1.30e+01, 1.00e+02, 2.70e+01, 2.20e+01, 1.90e+01,
         1.10e+01, 9.00e+00, 3.60e+01, 9.90e+01, 1.80e+01, 7.00e+01,
         4.90e+01, 3.50e+01, 5.20e+01, 1.25e+02, 2.00e+02, 1.20e+03,
         1.40e+01, 1.20e+01, 3.80e+01, 5.00e+02, 4.00e+01, 1.00e+03,
         4.00e+02, 1.50e+02, 4.30e+01, 7.50e+01, 5.50e+01, 2.50e+02,
         3.00e+02, 5.70e+01, 6.00e+02, 8.60e+01, 3.40e+01, 8.80e+01,
         8.90e+01, 9.50e+01, 3.50e+02, 3.20e+01, 7.40e+01, 8.70e+01,
         2.40e+01, 7.80e+01, 6.80e+01, 6.50e+01, 9.80e+01, 7.60e+01,
         9.20e+01, 2.05e+02, 8.00e+01, 5.60e+01, 6.40e+01, 7.30e+01,
         3.10e+01, 9.60e+01, 1.70e+01, 4.70e+01, 9.00e+01, 2.30e+01,
         5.50e+02, 9.00e+02, 1.60e+01, 2.00e+03, 2.90e+01, 4.10e+01,
         1.26e+02])],
 ['payrate',
  1848,
  array(['1,50,000 - 2,25,000 P.A', '1,50,000 - 2,50,000 P.A. 20000',
         'Not Disclosed by Recruiter', ...,
         '35,00,000 - 50,00,000 P.A. Compensation: Best in Industry',
         '15,00,000 - 30,00,000 P.A. Salary is open',
         '8,50,000 - 14,00,000 P.A'], dtype=object)],
 ['postdate',
  4203,
  array(['2016-05-21 19:30:00 +0000', '2016-10-13 16:20:55 +0000',
         '2016-10-13 16:20:56 +0000', ..., '2016-12-29 22:47:05 +0000',
         '2016-11-24 22:47:05 +0000', '2016-11-27 22:47:05 +0000'],
        dtype=object)],
 ['site_name', 1, array([nan, 'www.naukri.com'], dtype=object)],
 ['skills',
  45,
  array(['ITES', 'Marketing', 'IT Software - Application Programming',
         'Accounts', 'Production', 'Sales', 'IT Software - Other',
         'Executive Assistant', 'IT Software - Mobile',
         'Engineering Design', 'Financial Services', 'Hotels',
         'IT Software - QA & Testing', 'HR', 'Supply Chain',
         'IT Software - Network Administration', 'Architecture', 'Legal',
         'Site Engineering', 'Journalism', nan, 'IT Software - DBA',
         'Strategy', 'Medical', 'Design', 'Defence Forces',
         'IT Software - Mainframe', 'IT Software - Telecom Software',
         'IT Software - Embedded', 'IT Software - Middleware', 'Teaching',
         'IT Software - System Programming',
         'IT Software - Client/Server Programming', 'Travel',
         'IT Software - eCommerce', 'TV', 'Fashion Designing',
         'IT Software - ERP', 'IT Hardware',
         'Analytics & Business Intelligence', 'Beauty/Fitness/Spa Services',
         'Top Management', 'Export', 'IT Software - Systems', 'Packaging',
         'Shipping'], dtype=object)],
 ['uniq_id',
  22000,

In [ ]:
pd.DataFrame(unique)